body {
    /* Applying Google Font */
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

/* Image Hover Effect */
.effect-img {
    width: 250px;
    border-radius: 10px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.effect-img:hover {
    width: 300px;
    border-radius: 100%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
